body{
    background-color: #F3E9F1;
    font-family: "Calibri";
    font-size: 1.2rem;
    color: rgb(126, 63, 63);
}

.container{
    padding: 25px;
    margin-bottom: 44px;
}

.bg-darkpink {
    background:darkorchid;
}

.red {
    color:red;
}
h1{
    font-size: 150%;
    text-align: center;
}

.qty {
    width:50px;
}


.cart-product-name{
    width:100px;
}

.cart-product-couleur{
    width:50px;
}
.cart-product-qty {
    width:10px;
}
.cart-product-price{
        width: 30px
    }
.recap{
        width:200px;
}


@media screen and (max-width: 780px){
    body{
        font-size: 1.4rem;
    }
}

.article{
    border: none;
}

.article .card-header{
    background-color: darkorchid;
    color:white;
}

.article .card-body{
    background-color: darkorchid;
    color:white;
}

/* ------------------  Panier HTML ----------------------*/

.container_empty_basket, .recap {
    border: solid 1px Black;
    color: black;
    background-color: white;
}


